<form name = 'form1' action="/controllerUpdate" method="post">
    <input type='hidden' name = 'id' id= 'id' placeholder="Id:" value='{{id}}'><br>
    <input type='text' name = 'name' id= 'name' placeholder="Nome: " value='{{name}}'><br>
    <input type='text' name = 'price' id= 'price' placeholder="Preço: " value='{{price}}'><br>
    <input type='submit' name = 'btSubmit' id= 'btnSubmit' Value="Update"><br>
</form>